{% extends 'base.html' %}
{% load static %}
{% load lising_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/equipment.css' %}">
{% endblock %}

{% block content %}

    <!-- Sidebar слева -->
    <div class="left-chapters">
        <!-- Первая строка: основные категории -->
        <ul class="category-row" id="main-categories">
            {% if cat_selected == 0 or cat_selected is None %}
                <li class="selected">Все категории</li>
            {% else %}
                <li><a href="{% url 'equipment' %}">Все категории</a></li>
            {% endif %}
            {% show_categories cat_selected %}
        </ul>

        <ul class="category-row" id="sub-categories">
            <li>{% show_all_tags %}</li>
        </ul>
    </div>
    <!-- Конец Sidebar'а -->


    <h1>{{post.title}}</h1>
    {% if post.photo %}
        <p ><img class="img-article-left" src="{{post.photo.url}}"></p>
    {% endif %}
    {{post.content|linebreaks}}

    <div class="products-grid">
    {% for p in posts %}
        <div class="product-card">
            <p class="product-category">Категория: {{ p.cat.name }}</p>
            <p class="product-date">Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
            <img class="product-image" src="{% static 'img/eq_items/'|add:p.slug|add:'.jpg' %}" alt="{{ p.title }}">
            <h3 class="product-title">{{ p.title }}</h3>
            <p class="product-price">{{ p.price }} ₽</p>
            <p class="product-description">{{ p.content|truncatewords:20 }}</p>
            <p class="product-time-lizing">Лизинг до {{ p.lizing_time }} лет</p>
            <div class="product-buttons">
                <button class="add-to-cart">Добавить в корзину</button>
                <a href="{{ p.get_absolute_url }}" class="detail-btn">Подробнее</a>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}